[Unit]
Description=Comodo Antivirus Daemon
After=cmgagent.service

[Service]
Type=forking
WorkingDirectory=/opt/COMODO
ExecStart=/opt/COMODO/cmgdaemon

[Install]
WantedBy=multi-user.target
